<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/721c1694-acbf-451f-acf6-0f67a025eccf/resourceGroups/SafeU_group/providers/Microsoft.Web/sites/SafeU</ResourceId>
    <ResourceGroup>SafeU_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://safeu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>0557e919-7fd4-401f-977d-8821fca286b8</ProjectGuid>
    <MSDeployServiceURL>safeu.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SafeU</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$SafeU</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAX5qllx+fk0mC1tm1BTKoJQAAAAACAAAAAAAQZgAAAAEAACAAAADpO0IsbqNTWgoS2nMJ4m/POgrFSv/DofgtOur4hxMLpQAAAAAOgAAAAAIAACAAAACIHlQN73ETIC1RUx4OM7ZV7IF3ocnNvOT8Ih4yotJvZoAAAAC4C6dcItE1Hfa9S9OE2btO2D7Ve8Yp1XB14GEiKMBmgjTEy7Ul8LbKMSQwhr/Z3UEdJt0cbavNiIBTUQRU8bmApM4iAkD4bw9TkI8fg4VNdEOq4Xu5d4BLxJWM/658x3ZTlDxlEABRcrkDxSVOZ/GgP6cZD84ClBfLSM8Z10/DIkAAAADgla9M+J+wKpaXpT+JMhDaiHXKmMj1hNwDe8NbvatHsXamX9f6/zBOMvlFFk6RIfYSX316IkRoA1TYzgaBB2Uz</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>